<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar justify-content-around" role="banner">
  <img src="https://www.sophos.com/themes/custom/sophosdotcom/logo.svg" alt="">
  <div class="btn-group">
    <button [routerLink]="['/signup']" type="button" class="btn btn-outline-light">Signup</button>
    <button [routerLink]="['/users']" type="button" class="btn btn-outline-light">Users</button>
  </div>
</div>

<div class="content" role="main">
  
</div>

<router-outlet class="content">
</router-outlet>
